In [47]:
from pathlib import Path
import numpy as np
import pandas as pd

In [49]:
# Load the data
file_path = Path('final_ems_data_slice.csv')
df = pd.read_csv(file_path, encoding='utf-8')
df.head()

,index,ID,Hospital_Code,Date,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long,Status
0,0,776,508,7/19/2017,6.0,T14.90,95820,92905,92905-M22,38.554938,-121.456751,0
1,1,824,508,8/20/2017,10.0,G89.1,95831,92905,92905-M17,38.554938,-121.456751,0
2,2,854,197,9/8/2017,20.0,T14.90,95608,92905,92905-M17,38.601860,-121.391908,0
3,3,867,475,9/14/2017,30.0,R53.1,95624,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min)
4,4,951,475,10/19/2017,6.0,R10.84,95816,92905,92905-M17,38.570890,-121.469532,0

In [51]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [52]:
#creating an instance of label encoder
label_encoder = LabelEncoder()
df["Impression_le"] = label_encoder.fit_transform(df["Impression"])
df.head()

,index,ID,Hospital_Code,Date,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long,Status,Impression_le
0,0,776,508,7/19/2017,6.0,T14.90,95820,92905,92905-M22,38.554938,-121.456751,0,39
1,1,824,508,8/20/2017,10.0,G89.1,95831,92905,92905-M17,38.554938,-121.456751,0,8
2,2,854,197,9/8/2017,20.0,T14.90,95608,92905,92905-M17,38.601860,-121.391908,0,39
3,3,867,475,9/14/2017,30.0,R53.1,95624,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min),37
4,4,951,475,10/19/2017,6.0,R10.84,95816,92905,92905-M17,38.570890,-121.469532,0,30

In [53]:
df['Date'] = pd.to_datetime(df['Date'], format=("%m/%d/%Y"))

In [54]:
# Dropping column Date due to conflict with Arrival Date Time column
df = df.drop(columns="Date")
df.head()

,index,ID,Hospital_Code,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long,Status,Impression_le
0,0,776,508,6.0,T14.90,95820,92905,92905-M22,38.554938,-121.456751,0,39
1,1,824,508,10.0,G89.1,95831,92905,92905-M17,38.554938,-121.456751,0,8
2,2,854,197,20.0,T14.90,95608,92905,92905-M17,38.601860,-121.391908,0,39
3,3,867,475,30.0,R53.1,95624,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min),37
4,4,951,475,6.0,R10.84,95816,92905,92905-M17,38.570890,-121.469532,0,30

In [55]:
# get data types
df.dtypes

index              int64
ID                 int64
Hospital_Code      int64
APOT             float64
Impression        object
Postal_Code       object
AgencyNumber       int64
Agency_Unit       object
Lat              float64
Long             float64
Status            object
Impression_le      int32
dtype: object

In [56]:
# Dropping column ID due to alpha-numeric and numeric objects. 
# column index is unique and references column ID. Therefore no data is lost.
df = df.drop(columns="ID")
df.head()

,index,Hospital_Code,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long,Status,Impression_le
0,0,508,6.0,T14.90,95820,92905,92905-M22,38.554938,-121.456751,0,39
1,1,508,10.0,G89.1,95831,92905,92905-M17,38.554938,-121.456751,0,8
2,2,197,20.0,T14.90,95608,92905,92905-M17,38.601860,-121.391908,0,39
3,3,475,30.0,R53.1,95624,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min),37
4,4,475,6.0,R10.84,95816,92905,92905-M17,38.570890,-121.469532,0,30

In [57]:
# temporarily dropping postal code. 
df = df.drop(columns="Postal_Code")
df.head()

,index,Hospital_Code,APOT,Impression,AgencyNumber,Agency_Unit,Lat,Long,Status,Impression_le
0,0,508,6.0,T14.90,92905,92905-M22,38.554938,-121.456751,0,39
1,1,508,10.0,G89.1,92905,92905-M17,38.554938,-121.456751,0,8
2,2,197,20.0,T14.90,92905,92905-M17,38.601860,-121.391908,0,39
3,3,475,30.0,R53.1,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min),37
4,4,475,6.0,R10.84,92905,92905-M17,38.570890,-121.469532,0,30

In [58]:
# Impression dictionary
impressions_num = {
    "A41.9":"0", "E13.64":"1", "E13.65":"2", "F10.92":"3","F19":"4", "F99":"5","G24.0":"6",
"G40.901":"7", "G40.909":"8", "G89.1":"9", "H57.9":"10", "H93.90":"11", "I10":"12","I20.9":"13", "I21.3":"14", "I46.8":"15",
"I46.9":"16","I49.9":"17", "I63.9":"18", "I95.9":"19","J00":"20", "J68.9":"21","J70.5":"22","J80":"23","J81.0":"24","J96.9":"25",
"J98.01":"26", "K59.1":"27", "K92.0":"28", "K92.1":"29","M79.60":"30", "N39.9":"31", "N93.9":"32", "O60.0":"33",
"O80":"34", "O99":"35", "R00.2":"36", "R04.0":"37", "R07.89":"38", "R10.84":"39", "R11.2":"40","R41.0":"41", "R41.82":"42",
"R42":"43", "R50.9":"44", "R51":"45", "R53.1":"46", "R55":"47", "R68.13":"48", "R99":"49", "T14.90":"50", "T30.0":"51", "T58":"52",
"T63":"53", "T67.0":"54", "T68":"55", "T71.9":"56", "T75.1XXA":"57", "T75.4":"58", "T78.2":"59", "T78.40":"60", "Z00.00":"61",
"Z38.2":"62", "Z77.9":"63",

    }

In [59]:
# Impression names encoded using the dictionary values
df["impressions_num"] = df["Impression"].apply(lambda x: impressions_num[x])
df.head()

,index,Hospital_Code,APOT,Impression,AgencyNumber,Agency_Unit,Lat,Long,Status,Impression_le,impressions_num
0,0,508,6.0,T14.90,92905,92905-M22,38.554938,-121.456751,0,39,50
1,1,508,10.0,G89.1,92905,92905-M17,38.554938,-121.456751,0,8,9
2,2,197,20.0,T14.90,92905,92905-M17,38.601860,-121.391908,0,39,50
3,3,475,30.0,R53.1,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min),37,46
4,4,475,6.0,R10.84,92905,92905-M17,38.570890,-121.469532,0,30,39

In [60]:
#creating an instance of label encoder
label_encoder = LabelEncoder()
df["agency_unit_le"] = label_encoder.fit_transform(df["Agency_Unit"])
df.head()

,index,Hospital_Code,APOT,Impression,AgencyNumber,Agency_Unit,Lat,Long,Status,Impression_le,impressions_num,agency_unit_le
0,0,508,6.0,T14.90,92905,92905-M22,38.554938,-121.456751,0,39,50,25
1,1,508,10.0,G89.1,92905,92905-M17,38.554938,-121.456751,0,8,9,22
2,2,197,20.0,T14.90,92905,92905-M17,38.601860,-121.391908,0,39,50,22
3,3,475,30.0,R53.1,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min),37,46,26
4,4,475,6.0,R10.84,92905,92905-M17,38.570890,-121.469532,0,30,39,22

In [61]:
# agency unit dictionary
agency_unit_num = {
    "A41.9":"0", "E13.64":"1", "E13.65":"2", "F10.92":"3","F19":"4", "F99":"5","G24.0":"6",
"G40.901":"7", "G40.909":"8", "G89.1":"9", "H57.9":"10", "H93.90":"11", "I10":"12","I20.9":"13", "I21.3":"14", "I46.8":"15",
"I46.9":"16","I49.9":"17", "I63.9":"18", "I95.9":"19","J00":"20", "J68.9":"21","J70.5":"22","J80":"23","J81.0":"24","J96.9":"25",
"J98.01":"26", "K59.1":"27", "K92.0":"28", "K92.1":"29","M79.60":"30", "N39.9":"31", "N93.9":"32", "O60.0":"33",
"O80":"34", "O99":"35", "R00.2":"36", "R04.0":"37", "R07.89":"38", "R10.84":"39", "R11.2":"40","R41.0":"41", "R41.82":"42",
"R42":"43", "R50.9":"44", "11805-Coptr1":"0", "11805-Coptr2":"1","11805-E10":"2","11805-E101":"3","11805-E103":"4","11805-E105":"5","11805-E106":"6","11805-E108":"7","11805-E109":"8","11805-E110":"9","11805-E111":"10",
"11805-E114":"11","11805-E117":"12","11805-E21":"13","11805-E22":"14","11805-E23":"15","11805-E24":"16","11805-E25":"17","11805-E26":"18","11805-E27":"19","11805-E28":"20","11805-E29":"21","11805-E31":"22",
"11805-E32":"23","11805-E358":"24","11805-E359":"25","11805-E363":"26","11805-E381":"27","11805-E41":"28","11805-E42":"29","11805-E50":"30","11805-E51":"31","11805-E53":"32",
"11805-E54":"33","11805-E55":"34","11805-E554":"35","11805-E61":"36","11805-E62":"37","11805-E63":"38","11805-E65":"39","11805-E66":"40","11805-E68":"41","11805-EMS24":"42",
"11805-HM109":"43","11805-M101":"44","11805-M102":"45","11805-M103":"46","11805-M105":"47","11805-M106":"48","11805-M109":"49","11805-M111":"50","11805-M112":"51","11805-M21":"52",
"11805-M22":"53","11805-M224":"54","11805-M23":"55","11805-M24":"56","11805-M25":"57","11805-M259":"58","11805-M27":"59","11805-M29":"60","11805-M30":"61","11805-M32":"62",
"11805-M41":"63","11805-M50":"64","11805-M51":"65","11805-M53":"66","11805-M55":"67","11805-M59":"68","11805-M61":"69","11805-M62":"70","11805-M63":"71","11805-M64":"72",
"11805-M65":"73","11805-M7":"74","11805-M73":"75","11805-M8":"76","11805-M803":"77","11805-M829":"78","11805-R20":"79","11805-R21":"80","11805-S24":"81","11805-TR106":"82",
"11805-TR17":"83","11805-TR23":"84","11805-TR26":"85","11805-TR50":"86","11805-TR65":"87","11805-TR7":"88","17705-229":"89","17705-277":"90","17705-285":"91","17705-519":"92",
"17705-521":"93","1805-Engine 1":"94","1805-Engine 10":"95","1805-Engine 11":"96","1805-Engine 13":"97","1805-Engine 14":"98","1805-Engine 16":"99","1805-Engine 18":"100",
"1805-Engine 19":"101","1805-Engine 20":"102","1805-Engine 30":"103","1805-Engine 43":"104","1805-Engine 56":"105","1805-Engine 57":"106","1805-Engine 6":"107","1805-Engine 60":"108",
"1805-Engine 7":"109","1805-Engine 8":"110","1805-Medic 1":"111","1805-Medic 10":"112","1805-Medic 11":"113","1805-Medic 12":"114","1805-Medic 13":"115","1805-Medic 14":"116",
"1805-Medic 15":"117","1805-Medic 17":"118","1805-Medic 18":"119","1805-Medic 19":"120","1805-Medic 2":"121","1805-Medic 20":"122","1805-Medic 256":"123","1805-Medic 3":"124",
"1805-Medic 30":"125","1805-Medic 4":"126","1805-Medic 43":"127","1805-Medic 5":"128","1805-Medic 56":"129","1805-Medic 57":"130","1805-Medic 6":"131","1805-Medic 7":"132",
"1805-Medic 8":"133","1805-Patient Care 1":"134","1805-Patient Care 10":"135","1805-Patient Care 2":"136","1805-Patient Care 3":"137","1805-Patient Care 5":"138",
"1805-Rescue 20":"139","1805-Truck 10":"140","1805-Truck 16":"141","1805-Truck 17":"142","1805-Truck 2":"143","1805-Truck 30":"144","1805-Truck 43":"145","1805-Truck 5":"146",
"1805-Truck 6":"147","1805-Truck 7":"148","20405-BC15":"149","20405-E117":"150","20405-E22":"151","20405-E235":"152","20405-E28":"153","20405-E32":"154",
"20405-E35":"155","20405-E36":"156","20405-E37":"157","20405-E38":"158","20405-E39":"159","20405-E535":"160","20405-E61":"161","20405-E63":"162","20405-EDHE84":"163","20405-EDHM85":"164","20405-Engine 37":"165","20405-Engine 38":"166",
"20405-M32":"167","20405-M35":"168","20405-M36":"169","20405-M37":"170","20405-M39":"171","20405-M65":"172","20405-M805":"173","20405-Medic 237":"174",
"20405-Medic 35":"175","20405-Medic 36":"176","20405-Medic 37":"177","20405-PRKRNGR":"178","20405-REGIONL":"179","20405-TR35":"180","20405-Truck 35":"181","2105-SAC A/B-24 MWF":"182",
"2105-SAC A-0700":"183","2105-SAC A-11":"184","2105-SAC A-16":"185","2105-SAC A-1900":"186","2105-SAC B-0730":"187","2105-SAC B-0900":"188","2105-SAC B-11":"189","2105-SAC B-1200 (10 hr)":"190",
"2105-SAC B-13":"191","2105-SAC B-16":"192","2105-SAC B-1600":"193","2105-SAC B-1900 (10hr)":"194","2105-SAC B-23":"195","27605-1017":"196","27605-1117":"197",
"27605-1118":"198","27605-121":"199","27605-1215":"200","27605-1218":"201","27605-1717":"202","27605-216":"203","27605-219":"204","27605-221":"205","27605-308":"206",
"27605-315":"207","27605-321":"208","27605-408":"209","27605-417":"210","27605-47":"211","27605-517":"212","27605-718 XPS":"213","27605-820":"214",
"27605-NORCAL 1717":"215","27605-NORCAL 219":"216","27605-NORCAL 417":"217","27605-NORCAL 517":"218","27605-NORCAL MEDIC 219":"219","38905-B-300":"220",
"38905-B-331":"221","38905-B-340":"222","38905-B-341":"223", "38905-B-351":"224","38905-B-352":"225","38905-B-353":"226","38905-B-354":"227",
"38905-B-355":"228","38905-B-356":"229","38905-B-357":"230","38905-B-358":"231","38905-B-359":"232","38905-B-363":"233","38905-B-381":"234","38905-CCT-39":"235",
"38905-M331":"236","38905-M-331":"237","605-706":"238","605-759":"239","605-E-15":"240","605-E-16":"241","605-E-19":"242","605-E-20":"243","605-E-24":"244","605-E-26":"245",
"605-E-27":"246","605-E-29":"247","605-E-30":"248","605-E-35":"249","605-E-38":"250","605-E-39":"251","605-E-40":"252","605-E-41":"253","605-E-48":"254",
"605-E-49":"255","605-E-53":"256","605-E-54":"257","605-E-59":"258","605-M-3":"259","605-S-707":"260","605-S-708":"261","605-S-709":"262","605-S-710":"263","605-S-712":"264",
"605-S-722":"265","605-S-723":"266","605-S-735":"267","605-S-736":"268","605-S-737":"269","605-S-738":"270","605-S-739":"271","605-S-740":"272","605-S-741":"273",
"605-S-742":"274","605-S-743":"275","605-S-744":"276","605-S-745":"277","605-S-746":"278","605-S-747":"279","605-S-748":"280","605-S-749":"281","605-S-750":"282","605-S-751":"283",
"605-S-752":"284","605-S-753":"285","605-S-754":"286","605-S-755":"287","605-S-756":"288","605-S-757":"289","605-S-758":"290","605-S-759":"291","605-S-760":"292","605-S-761":"293",
"605-S-762":"294","605-S-763":"295","605-S-764":"296","605-S-765":"297","605-S-767":"298","71715-210 FLEX":"299","71715-221 FLEX":"300","71715-223 FLEX":"301","71715-224 FLEX":"302","71715-231 FLEX":"303","71715-240 FLEX":"304",
"71715-250 FLEX":"305","71715-251 FLEX":"306","71715-252 FLEX":"307","71715-281 FLEX":"308","71715-ALS DC 1":"309","71715-ALS DC 2":"310","71715-ALS DC 3":"311","71715-ALS DC 4":"312","71715-ALS DC 5":"313","71715-ALS DC 6":"314",
"71715-ALS DC 7":"315","71715-ALS NC 1":"316","71715-ALS Standby 1":"317","71715-ALS Standby 2":"318","71715-BF621":"319","71715-BF651":"320","71715-BF652":"321","71715-BLS DC 1":"322","71715-BLS DC 10":"323","71715-BLS DC 11":"324",
"71715-BLS DC 12":"325","71715-BLS DC 13":"326","71715-BLS DC 14":"327","71715-BLS DC 15":"328","71715-BLS DC 2":"329","71715-BLS DC 3":"330","71715-BLS DC 4":"331","71715-BLS DC 5":"332","71715-BLS DC 6":"333","71715-BLS DC 7":"334",
"71715-BLS DC 8":"335","71715-BLS DC 9":"336","71715-BLS FLEX 1":"337","71715-BLS FLEX 10":"338","71715-BLS FLEX 11":"339","71715-BLS FLEX 13":"340","71715-BLS FLEX 2":"341","71715-BLS FLEX 3":"342","71715-BLS FLEX 4":"343","71715-BLS FLEX 5":"344",
"71715-BLS FLEX 6":"345","71715-BLS Flex 7":"346","71715-BLS FLEX 8":"347","71715-BLS FLEX 9":"348","71715-BLS FLEX NC 7":"349","71715-BLS NC 10":"350","71715-BLS NC 7":"351","71715-M.210":"352","71715-M.220":"353","71715-M.250":"354","71715-M.260":"355",
"71715-M201":"356","71715-M202":"357","71715-M205":"358","71715-M206":"359","71715-M210":"360","71715-M211":"361","71715-M220":"362","71715-M221":"363","71715-M221N":"364","71715-M223":"365","71715-M224":"366","71715-M231":"367","71715-M241":"368","71715-M250":"369",
"71715-M251":"370","71715-M252":"371","71715-M260":"372","71715-M271":"373","71715-M281":"374","71715-M282":"375","71715-MEDIC 05":"376","71715-MEDIC 11":"377","71715-MEDIC 201":"378","71715-NonMed 5":"379","71715-NonMed 7":"380","71715-NonMed 8":"381","71715-NonMed 9":"382",
"71715-PL DC 1":"383","71715-PL NC 1":"384","71715-Placer DC 1":"385","71715-Placer Flex 1":"386","71715-Placer NC 1":"387","71715-Station 1":"388","71715-Station 2":"389","71715-Station 3":"390","71715-Station 4":"391","88005-144":"392","88005-SA123":"393","90305-7153":"394",
"90305-7154":"395","90305-E345":"396","90305-E355":"397","90305-E372":"398","90305-E375":"399","90305-E381":"400","90305-E45":"401","90305-E46":"402","90305-E50":"403","90305-E51":"404","90305-E55":"405","90305-E71":"406","90305-E72":"407","90305-E73":"408","90305-E74":"409",
"90305-E75":"410","90305-E76":"411","90305-E77":"412","90305-M45":"413","90305-M46":"414","90305-M71":"415","90305-M72":"416","90305-M73":"417","90305-M74":"418","90305-M76":"419","90305-M77":"420","90305-M78":"421","90305-M79":"422","90305-R74":"423","90305-TR50":"424","90305-TR74":"425",
"90305-TR76":"426","92905-M102":"427","92905-M17":"428","92905-M2":"429","92905-M21":"430","92905-M22":"431","92905-M23":"432","92905-M3":"433","97705-CON AIR 01 (R100)":"434","97705-CON AIR 02 (R32)":"435","97705-REACH 02":"436","97705-REACH 07":"437","97705-REACH 17":"438","99305-203-05":"439",
"99305-204-09":"440","99305-215-06":"441","99305-217-07":"442","99305-218-10":"443","99305-219-11":"444","99305-300-03":"445","99305-303-06":"446","99305-304-06":"447","99305-307-06":"448","99305-308-06":"449","99305-312-08":"450","99305-313-11":"451","99305-316-09":"452",

    }

In [62]:
# Agency Unit names encoded using the dictionary values
df["agency_unit_num"] = df["Agency_Unit"].apply(lambda x: agency_unit_num[x])
df.head()

,index,Hospital_Code,APOT,Impression,AgencyNumber,Agency_Unit,Lat,Long,Status,Impression_le,impressions_num,agency_unit_le,agency_unit_num
0,0,508,6.0,T14.90,92905,92905-M22,38.554938,-121.456751,0,39,50,25,431
1,1,508,10.0,G89.1,92905,92905-M17,38.554938,-121.456751,0,8,9,22,428
2,2,197,20.0,T14.90,92905,92905-M17,38.601860,-121.391908,0,39,50,22,428
3,3,475,30.0,R53.1,92905,92905-M23,38.570890,-121.469532,1 (21 - 50 min),37,46,26,432
4,4,475,6.0,R10.84,92905,92905-M17,38.570890,-121.469532,0,30,39,22,428

In [63]:
# Drop the Impression and Impression_le columns
df = df.drop(["Agency_Unit", "agency_unit_le"], axis=1)
df.head()

,index,Hospital_Code,APOT,Impression,AgencyNumber,Lat,Long,Status,Impression_le,impressions_num,agency_unit_num
0,0,508,6.0,T14.90,92905,38.554938,-121.456751,0,39,50,431
1,1,508,10.0,G89.1,92905,38.554938,-121.456751,0,8,9,428
2,2,197,20.0,T14.90,92905,38.601860,-121.391908,0,39,50,428
3,3,475,30.0,R53.1,92905,38.570890,-121.469532,1 (21 - 50 min),37,46,432
4,4,475,6.0,R10.84,92905,38.570890,-121.469532,0,30,39,428

In [64]:
# Drop the Impression and Impression_le columns
df = df.drop(["Impression", "Impression_le"], axis=1)
df.head()

,index,Hospital_Code,APOT,AgencyNumber,Lat,Long,Status,impressions_num,agency_unit_num
0,0,508,6.0,92905,38.554938,-121.456751,0,50,431
1,1,508,10.0,92905,38.554938,-121.456751,0,9,428
2,2,197,20.0,92905,38.601860,-121.391908,0,50,428
3,3,475,30.0,92905,38.570890,-121.469532,1 (21 - 50 min),46,432
4,4,475,6.0,92905,38.570890,-121.469532,0,39,428

In [67]:
y = df["Status"]
X = df.drop(columns="Status")

In [68]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,  random_state=1, stratify=y)
X_train.shape

(750, 8)

In [69]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [70]:
model.fit(X_train, y_train)

SVC(kernel='linear')

In [72]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

        Prediction           Actual
0  1 (21 - 50 min)  1 (21 - 50 min)
1                0                0
2                0                0
3  1 (21 - 50 min)  1 (21 - 50 min)
4  1 (21 - 50 min)  1 (21 - 50 min)

In [73]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.996

In [74]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

              0       1.00      1.00      1.00       112
1 (21 - 50 min)       1.00      1.00      1.00       103
2 (51 - 80 min)       1.00      1.00      1.00        22
   3 (81 - 110)       1.00      1.00      1.00         8
  4 (111 - 140)       0.67      1.00      0.80         2
  5 (141 + min)       1.00      0.67      0.80         3

       accuracy                           1.00       250
      macro avg       0.94      0.94      0.93       250
   weighted avg       1.00      1.00      1.00       250